FROM python:3.8-slim

# set the build shell and the default cmd/workdir
SHELL ["/bin/bash", "-euxo", "pipefail", "-c"]
CMD ["/bin/bash"]
WORKDIR /src

# create fw user and get basic toolset
ENV prometheus_multiproc_dir=/var/metrics
RUN groupadd -rg 1000 flywheel; \
    useradd -mrg 1000 -u 1000 -s /usr/sbin/nologin flywheel; \
    mkdir -p "$prometheus_multiproc_dir"; \
    chown -R flywheel:flywheel "$prometheus_multiproc_dir"; \
    apt-get update; \
    apt-get install -y --no-install-recommends \
        bash=5.0-4 \
        curl=7.64.0-4+deb10u1 \
        git=1:2.20.1-2+deb10u3 \
        gosu=1.10-1+b23 \
        iputils-ping=3:20180629-2+deb10u1 \
        jq=1.5+dfsg-2+b1 \
        nano=3.2-3 \
        tini=0.18.0-1 \
        tree=1.8.0-1 \
    ; \
    rm -rf /var/lib/apt/lists/*

# ensure pinned pip/setuptools/wheel
ENV PIP_NO_CACHE_DIR=0
RUN pip install --no-cache-dir --upgrade \
        pip==20.2.3 \
        setuptools==50.3.0 \
        wheel==0.35.1

# install vendored poetry
ENV POETRY_HOME=/opt/poetry
ENV POETRY_VERSION=1.0.10
ENV POETRY_VIRTUALENVS_CREATE=false
ENV PATH="$POETRY_HOME/bin:$PATH"
RUN curl -fLSs https://raw.githubusercontent.com/python-poetry/poetry/$POETRY_VERSION/get-poetry.py | python
